@font-face {
  font-family: Norse-Bold;
  src: url(./font/Norse-Bold.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
}

.container {
  display: flex;
}

.image-section {
  background-image: url(./img/halie-west-25xggax4bSA-unsplash.jpg);
}
