@font-face {
  font-family: Norse-Bold;
  src: url(./font/Norse-Bold.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.image-section {
  flex: 1;
  background-image: url(./img/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  height: 100%;
}

.odin-section {
  background-color: rgba(0, 0, 0, 40%);
  padding: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 14vw;
}

.odin-image {
  position: relative;
  width: 10vw;
}

.odin-text {
  position: relative;
  font-family: Norse-Bold;
  color: white;
  font-size: 8vw;
}
.credit-text {
  color: white;
}
.credit-text > a {
  color: white;
}
.form-section {
  flex: 1;
}
